/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

/* BREAK WIDTH 
   tablet break: 1024px;
   mobile break: 724px;
*/

:root {
  /* COLORS */
  --color-primary: #0f162d;
  --color-on-primary: #fff;

  --color-secondary: #272d42;
  --color-on-secondary: rgba(255, 255, 255, 0.5);

  /* ROUNDING */
  --rounding-tablet: 24px;
  --rounding-mobile: 16px;
}
